.loginPage {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.loginContainer {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 40px;
    background-color: #ffffff;
    border: 1px solid #f2f3f7;
    border-radius: 5px;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.backBtn {
    color: #718ffb;
    font-size: 17px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.backBtn:hover {
    color: #96adff;
}

.loginTitle {
    color: #3461ff;
    margin-bottom: 20px;
    text-align: center;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.logoContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    cursor: pointer;
}

.logo {
    color: #A4B2CB;
    font-size: 32px;
    transition: all 0.2s;
}

.logo:hover {
    opacity: 0.7;
}

.loginInput {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #f2f3f7;
    border-radius: 5px;
    font-size: 14px;
    color: #a4b2cb;
    outline: none;
}

.loginInput::placeholder {
    color: #a4b2cb;
}

.loginBtn {
    padding: 10px;
    background-color: #3461ff;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 20px;
}

.separator {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.separatorText {
    color: #a4b2cb;
    margin: 0 10px;
}

.googleLogin{
    width: 100%;
    display: flex;
    justify-content: center;
}

.loginBtn:hover{
    opacity: 0.8;
    transition: opacity 0.2s;
}
@media screen and (max-width: 767px) {
    .loginContainer {
        width: 90%;
        border: none;
        background-color: #00000000;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .loginContainer {
        width: 70%;
    }
}

@media screen and (min-width: 1024px) {
    .loginContainer {
        width: 400px;
    }
}
