.pbHeader {
    padding-top: 40px;
    height: 125px;
    border-bottom: 2px solid #F2F3F7;
    background-color: #FAFCFE;
}

.pbContainer {
    height: 100%;
    width: 80%;
    max-width: 1170px;
    margin: 0 auto;
}
