.headerSearchbox {
    height: 50%;
    display: flex;
    justify-content: space-between;
}

.headerSearchbox > h1 {
    color: #3461FF;
    font-size: 28px;
}

.searchInput {
    width: 250px;
    padding: 5px 30px 5px 10px;
    border: 1px solid #F2F3F7;
    border-radius: 4px 0 0 4px;
    height: 30px;
    transition: all 0.2s;
    outline: none;
}

.searchInput:focus {
    border-color: #3461FF;
    box-shadow: 0 0 0 2px rgba(52, 97, 255, 0.2);
}

.searchIcon {
    color: #3461FF;
    position: absolute;
    right: 10px;
    font-size: 15px;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
    height: 100%;
    border-radius: 0 4px 4px 0;
}

.searchCategory:hover {
    color: #7f8a9e;
}

@media screen and (max-width: 768px) {
    .headerSearchbox {
        display: block;
    }

    .headerSearchbox > h1 {
        font-size: 24px;
        padding: 5px;
    }

    .searchForm {
        width: 100%;
    }

    .searchInput {
        width: 100%;
    }

    .searchIcon {
        right: 5px;
    }
}
