.pdfContainer{
    width: 80%;
    margin: 0 auto;
    padding-top: 50px;
}

.Linkto{
    width: 100%;
    height: 50px;
    background-color: #3461FF;
    display: flex;
    align-items: center;
    border-radius: 15px;
    transition: all 0.2s;
    cursor: pointer;
}

.LinktoProblem{
    font-size: 20px;
    margin: 0 auto;
    color: #ffffff;
}

.Linkto:hover{
    opacity: 0.8;
}
.MarkdownPart{
    margin-top: 25px;
}